@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --primary-color: #2563eb;
  --secondary-color: #737373;
  --tertiary-color: #84cc16;
  --quartenary-color: #cbd5e1;
  --pentanary-color: #020617;
}

* {
  box-sizing: content-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: var(--primary-color);
  margin: 0px;
}

.container {
  padding: 0rem 1rem;
}

.container__centre {
  margin: auto;
  max-width: 600px;
}

.link {
  text-decoration: none;
  padding: 5px 3rem;

  /* color: white; */

}

.link__primary {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.5rem;
  box-shadow: 3px -2px 5px 3px gray;
  border: solid 1px black;

}

.link__secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: solid 2px var(--primary-color);
  box-shadow: 3px -2px 5px 3px gray;
}

.list__nonbullet {
  list-style: none;
}

.list__itemin__line {
  display: inline;
  padding: 0rem 1rem;
}

/* navigation */

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navigation .navbrand {

  font-size: xx-large;
  font: weight 700px;
  cursor: pointer;

}

.navigation .navpills {
  text-align: right;
  font-size: larger;
  letter-spacing: .08em;
  cursor: pointer;
  /* transition-duration:0.3s ; */
}

.navigation .link:hover {
  opacity: 0.5;
  /* background-color: var(--secondary-color); */
}


.navigation .link {
  color: white;
}

.navigation .link__active {
  font-weight: 900;
}

/* image  */

.hero {
  padding: 2rem;
  /* text-align: center; */

}

.hero .hero__img {
  max-width: 500px;
  display: block;
  padding: 2rem;
  margin: auto;
}

.hero .hero__heading {
  text-align: center;
  padding-top: 1rem;
  font-size: 3rem;
  color: var(--secondary-color);
}

.hero .hero__heading .hero__highlight {
  color: var(--tertiary-color);
}

/* section */
.section {
  padding: 2rem;
  max-width: 1000px;
  text-align: center;
  margin: auto;
  border-radius: 2rem;
}

.section h1 {
  text-align: center;

}

.off__white {
  background-color: var(--quartenary-color);

}

.section__heading {
  color: var(--pentanary-color);
}


/* footer */
footer {
  background-color: #333;
  float: centre;
  overflow: visible;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-top: 2rem;
}

.footer .footer__general {
  text-decoration: none;
  padding: 20px;
  text-align: left;
  float: left;
  color: white;
}

.footer__heading {
  text-align: right;
  color: white;
  padding: 1rem
}

.fa {
  position: relative;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;

}

.fa:hover {
  opacity: 0.5;

}


.fa-facebook {
  background: #3B5998;
  color: white;
  left: 550px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  left: -50px;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  left: 300px;
}

.fa-instagram {
  background: white;
  color: red;
  right: -90px;

}

.fa-github {
  background-color: #020617;
  color: white;
  left: 120px;
}

/* payment */
.container__form {
  box-sizing: border-box;
  background-color: #f2f2f2;
  margin: 10rem;
  border: solid 2px black;
  padding: 5rem;
  color: black;
  border-radius: 2rem;
  max-width: 2000px;
  max-height: 2000px;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  text-decoration: overline underline solid;
}

input[type="text"] input[type="email"] input[type="number"] input[type="password"] input[type="date"] select,
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid black;
  margin: 10px;
}

input[type="submit"] {
  background-color: royalblue;
  padding: 2px 12px;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100PX;
  height: 50PX;

}

input[type="reset"] {
  background-color: royalblue;
  padding: 2px 12px;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100PX;
  height: 50PX;
}

.btn:hover {
  background-color: green;
}